/*
 * Globals bootstrap css
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #000000;
  padding-top: 50px;

}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
*Custom css
*/

body{
    
    background-color:#215E70;;
}
.wrap{
    
    background-color:#FAFAFB;
    box-sizing:border-box;
    border:4px solid #131b6d;
}
.blog-post {
    border-top:1px solid gray;
    padding:10px 5px 5px 10px;
    margin-bottom:10px;
    background-color:#EEEEEE;
}
.blog-post:hover{
    background-color:#e3eced;
    
}
.blog-post h3 {
    margin-bottom:2px;
}
.blog-post .blog-post-meta{
    margin-bottom:2px;
    font-size:15px;
}
.blog-post h3 a{
    color:#417394;

}
.sidebar-signup-div {
    background-color:#F8FFC3;
    padding:5px;
}
.sidebar-signup-text {
    background-color:#E1F0D8;
    border-radius:3px;
    padding:5px 0 2px 5px;
    box-sizing:border-box;
    margin-bottom:9px;
    
}
.category-text{
    background-color:#FAF0FA;
    padding:5px;
    border-radius:5px 5px 0 0;
    margin-bottom:0;
}
.list-unstyled{
    background-color:#efefef;
    padding:3px;
}

.detailed-question {
    font-size:15px;
    background-color:white;
    margin:3px 5px 3px 3px;
    padding:7px;
}
.hdr{
    height:200px;
    background:linear-gradient(#eafcfc, #FFFFFF);
    margin-bottom:20px;
    padding-top:30px;
}
.hdr-text{
    color: #99CCFF;
    font-weight:bold;
    float:left;
}
.ask {
    float:left;
    background-color:#EBF0F5;
    padding:5px;
    width:60%;
    margin-left:20px;
}
.ask input[type=text]{
    width:80%;
    height:40px;
    border:2px solid #204D80;
    font-size:20px;
    border-radius:5px 0 0 5px;
}
.ask input[type=submit]{
    width:20%;
    background-color:#002851;
    height:40px;
    color:white;
    font-size:20px;
    border:0;
    border-radius:0 5px 5px 0;
}
.ask input[type=submit]:hover{
    background-color:#356291;
    clear:both;
}
.join{
    padding-left:40%;
    padding-top:7%;
}
.join .join-btn{
    height:45px;
    background-color:#FF4500;
    border:2px solid #555555;
    font-size:17px;
    color:white;
    border-radius:5px;
    width:20%
    display:block;
    /*margin:30px 0 5px 350px;*/

}
.navbar .navbar-signin{
    background-color:#38c462;
    color:white;
    font-size:15px;
    border:none;
    border-radius:3px;
    height:40px;
    margin:5px;
}
.navbar .navbar-signin:hover{
    background-color:#38a462;
}
.ftr{
    background-color:#242729;
}
.ctg{
    font-size:11px;
    background-color:#CEE0ED;
    padding:2px;
    margin-right:5px;
    color:#5470AC;
}
.tips{
  color:#45a083;
  height:250px;
  background-color: #cceae8;
  border-radius:8px;
  padding:3px;
  margin-right: 5px;
  font-size: 16px;
}
.tips h2{
  text-align: center;
  color: #2e5c82;
}
.ltl-det{
  font-size: 15px;
}
.ask-question{
  margin-top: 30px;
}
.hr{
  border-top:3px dotted white;
  background-color: white;
}
.session{
  margin:0;
  font-size: 19px;
  text-align: center;
}
.answer{
  width:100%;
  margin: 20px 0;
  min-height: 100px;
  border-left: 2px solid #ebebeb;
  border-bottom: 2px solid #ebebeb;
  border-right: 2px solid #ebebeb;

}
.answer:hover{

  background-color: #e9e9e9;
}
.ans-img{
  width : 12%;
  float: left;
  background-color: gray;
}
.ans-img .img{
  width :100%;
  /*border-radius: 50%;*/


}
.ans-det{
  float: left;
  font-size: 15px;
  /*background-color: #e3ebfc;*/
  width :88%;

}
.clear{
  clear: both;
}
.ans-begin{
  margin-bottom: 20px;
  margin-top:40px;

}
.main-ans{
  padding-left: 10px;
  p/*adding-bottom: 18px;*/
  color:#373A3E;
}
.ans-meta{
  background-color: #EEEEEE;
  color:#999999;
  padding-left: 10px;
}